@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-azeret-mono: 'Azeret Mono', monospace;
}


*{
  box-sizing: border-box;
  font-family: var(--font-azeret-mono), Arial;
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: var(--font-azeret-mono), Arial;
  
}

html {
  scroll-behavior: smooth;
}



/* Animación de expansión */
@keyframes expand {
  0% {
      transform: scale(0);
      opacity: 0;
  }
  50% {
      transform: scale(1.2);
      opacity: 0.5;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

/* Aplicar la animación de expansión */
.animate-expand {
  animation: expand 2s ease-in-out infinite;
}

/* Animación de rotación lenta */
@keyframes spin-slow {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* Aplicar la animación de rotación */
.animate-spin-slow {
  animation: spin-slow 4s linear infinite;
}

















